
$blue: #466d94;
$green: #669258;
$teal: #4ba68f;
$gold: #e6ad14;
$coral: #ff7f67;
$cream: #eae8e0;

// bootstrap colors
$primary: $blue;
$secondary: $green;
$success: $teal;
$info: $gold;
$danger: $coral;
